<mat-accordion multi="true" *ngIf="posts.length >   0">
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>{{ post.title }}</mat-expansion-panel-header>
        <p> {{post.content}} </p>
        <mat-action-row>
            <a [routerLink]="['/edit', post._id]">
                <button mat-button color="primary" (click)="selectedPost = post; openEditModal()">EDIT</button>
<app-post-edit *ngIf="selectedPost" [post]="selectedPost" (postUpdated)="onPostUpdated($event)"></app-post-edit>
            </a>
            
            <button mat-button color="warn" (click)="deletePost(post._id)">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <=   0">No post added</p>